{
  "name": "{{ project_name }}",
  "image": "mcr.microsoft.com/devcontainers/python:1-{{ python_version }}-bookworm",
  "features": {
    "ghcr.io/devcontainers/features/docker-outside-of-docker:1": {}
  },
  "postCreateCommand": "make setup",
  "forwardPorts": [8000],
  "customizations": {
    "vscode": {
      "settings": {
        "python.defaultInterpreterPath": "${containerWorkspaceFolder}/.venv/bin/python",
        "editor.formatOnSave": true,
        "[python]": { "editor.defaultFormatter": "charliermarsh.ruff" }
      },
      "extensions": [
        "ms-python.python",
        "charliermarsh.ruff",
        "ms-python.mypy-type-checker",
        "ms-azuretools.vscode-docker"
      ]
    }
  }
}
